{% load custom_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />

    <title>Sample OAuth App</title>
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <i class="bi bi-shield-lock-fill me-2 fs-2"></i>
        <span class="fs-4">Sample OAuth App</span>
      </header>

      <main>
        <h1>Accounts</h1>

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% else %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endif %}
        {% endfor %}

        <div class="mb-5">
          {% if user.is_authenticated %}
          <p class="fs-3">Hello, {{ user.username }}!</p>
          {% else %}
          <p class="fs-3">Hello, Guest!</p>
          {% endif %}
          <a
            href="{% url 'social:begin' 'github' %}"
            class="btn btn-primary btn-lg px-4"
            >Login with GitHub</a
          >
          <a href="{% url 'logout' %}" class="btn btn-secondary btn-lg px-4"
            >Logout</a
          >
        </div>

        <hr class="col-3 col-md-2 mb-5" />

        <div class="row g-5">
          <div class="col-md-6">
            <h2>AuthUser</h2>
            <table class="table">
              <tr>
                <th>id</th>
                <td>{{ user.id }}</td>
              </tr>
              <tr>
                <th>username</th>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <th>last_login</th>
                <td>{{ user.last_login }}</td>
              </tr>
              <tr>
                <th>is_authenticated</th>
                <td>{{ user.is_authenticated }}</td>
              </tr>
            </table>
          </div>

          <div class="col-md-6">
            <h2>UserSocialAuth</h2>
            {% if auth %}
            <table class="table">
              <tr>
                <th>provider</th>
                <td>{{ auth.provider }}</td>
              </tr>
              <tr>
                <th>extra_data</th>
                <td>
                  <pre class="mb-0" style="white-space: pre-wrap">
{{ auth.extra_data|to_json }}</pre
                  >
                </td>
              </tr>
              <tr>
                <th>created</th>
                <td>{{ auth.created }}</td>
              </tr>
              <tr>
                <th>modified</th>
                <td>{{ auth.modified }}</td>
              </tr>
            </table>
            {% else %}
            <p>Not authorized...</p>
            {% endif %}
          </div>
        </div>
      </main>
      <footer class="pt-5 my-5 text-muted border-top">
        <a
          class="px-2"
          href="https://github.com/yktakaha4/learn-oauth-errors-with-python-social-auth"
          target="_blank"
          >Source Code</a
        >
        <a
          class="px-2"
          href="https://github.com/settings/developers"
          target="_blank"
          >OAuth Apps</a
        >
        <a
          class="px-2"
          href="https://github.com/settings/applications"
          target="_blank"
          >Authorized OAuth Apps</a
        >
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
